
* {
    box-sizing: border-box;
}
#finalScore {
    margin-bottom: 40px;
}
a:hover {
    text-decoration: none;
}
a small:hover {
    color:#7dffe6;
}
a p small:hover {
    color:#7dffe6;
}
.main h2 {
    padding-bottom:15px;
}
body {
    position: relative;
    background:#00987c;
}
h1 {
    margin-bottom: 0px;
    font-size:28px;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
    font-weight:700;
}
h2 {
    margin-bottom: 0px;
    font-size:18px;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
    font-weight:400;
}
p {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding-left:15px;
}
.row {
    padding-top:35px;
}
.curscore.row {
    padding-top:0;
}
h1, h2 {
    padding-top:15px;
    padding-left:15px;
}
.main p small{
    color: #7dffe6;
    padding-top: 90px;
    font-size: 90px;
    line-height: 100px;
}
nav img {
    max-width:300px;
    min-width:20px;
    width:100%;
}
nav {
    background-color:#008c71;
}
.lightfont {
    font-weight: 400;
}
span #myLives {
    color:red;
}
#wrong, #correct, #intro, #finalScore, #outOfTime {
    overflow: auto;
    margin: auto;
    padding-top: 88px;
    background-color:#00987c;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    display:none;
}
#finalScore {
    z-index: 2;
}
#intro {
    background-color:#00987c;
    padding-top: 55px;
}
#intro .logo {
    margin: auto;
    max-width: 400px;
    min-width: 30px;
    width: 100%;
}
.container {
    max-width:500px;
}
.contain {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#wrong h1, #correct h1, #instructions h1, #intro h1, #instructions2 h1 {
    color: #fff;
    font-size: 50px;
    padding-bottom: 20px;
}
a h2:hover {
    color: #fff;
    background-color:#008c71;
}
p small {
    margin-bottom: 5px;
    line-height: 0.5;
    color:#7dffe6;
}
a p small {
    color: #fff;
}
.button small {
    border: 1px solid #fff;
    padding: 9px;
    border-radius: 9px;
}

/* Medium devices (tablets, less than 980px) */
@media (max-width: 979.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 639.98px) {
}